.App {
  text-align: center;
}
.todosBox{
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task{
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  border: 1px solid blueviolet;
  border-right: none;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.title{
  background-color: blueviolet;
  flex: 1 1 90%;
  display: flex;
}
.title input{
  margin-right: 1rem;
  cursor: pointer;
}
.task button{
  border-radius: .3rem;
  color: white;
  background-color: blue;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.task button:hover{
  background-color: blueviolet;


}
